$color-black: #000;
$color-white: #fff;
$color-lower-text: #858585;
$color-search-text: #313131;
$color-gradient-orange: #ff7d0a;
$color-gradient-red: #ff2300;
$color-input-background: rgba(255, 255, 255, 0.23);
$color-border: #cecece;
$color-blur: rgba(0,0,0,0.27);