@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient(45deg, $from, $to);
  background-image: -webkit-gradient(45deg, linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient(45deg, $from, $to);
  background-image: -o-linear-gradient(45deg, $from, $to);
}

@mixin blur($color) {
  -webkit-box-shadow: -2px 9px 6px -5px $color;
  -moz-box-shadow: -2px 9px 6px -5px $color;
  box-shadow: -2px 9px 6px -5px $color;
}

@mixin font ($weight: 600, $color: $color-black, $font-size: 16px) {
  font-family: Raleway, sans-serif;
  font-weight: $weight;
  color: $color;
  font-size: $font-size;
}

@mixin transition($parameter, $time: 1s) {
  -webkit-transition: $parameter $time ease-in;
  -moz-transition: $parameter $time ease-in;
  -o-transition: $parameter $time ease-in;
}
